<p class="widget-pollution__index">
    Jakość powietrza: {{ data.index }}
</p>
<ul class="widget-pollution__measurements">
    {% for measurement in data.measurements %}
        <li class="widget-pollution__measurements__item">
            {{ measurement.label }}: {{ measurement.norm }}
            <span class="widget-pollution__measurements__item__value">&bull; {{ measurement.value }}{{ measurement.unit }}</span>
        </li>
    {% endfor %}
</ul>
